.cadEndereco{
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 20vh;
    overflow: hidden;
    background: 
    linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url('../img/fundo.jpg') center top;
  background-size: cover;
    &__details{
        text-align: center;
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    h1{
        font-size:40px;
        margin-bottom: 2rem;
    }

    &__form{
        background-color: $primary-color;
        padding: 2rem;
        border-radius: 5px;
        width: 50vw;
    }

    &__radio-group{
        margin: 20px 0;
        display: flex;
        flex-direction: column;
    }

    &__radio-item{
        margin: 10px 0;
        border: solid 2px set-text-color($primary-color);
        padding: 15px;
    }

    &__label{
        text-align: center;
    }

    &__btn{
        color: set-text-color($primary-color);
        @include transition-ease;

        &:hover{
            color: $primary-color;
        }
    }

    &__button {
        height: 50px;
        width: 100%;

        margin: 10px 0;
        input {
            height: 100%;
            width: 100%;
            outline: none;
            border: none;
            border-radius: 5px;
            color: set-text-color($primary-color);
            background-color: $secondary-color;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 500;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }

    &__add{
        //text-align: center;
        margin: 30px 0;
        a {
            @include transition-ease;
      
            &:hover {
              color: $secondary-color;
            }
          }
    }
    .social-icons{
        display: flex;
        flex-direction: column;
    }

    footer{
        transform: rotate(90deg) translate(-3rem, -5rem);
    }
}