.cadUsuario{
    height: 100%;
    padding-top: 4vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: 
    linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url('../img/fundo.jpg') center top;
  background-size: cover;
    
  h1{
      font-size:50px;
      margin-bottom: 2rem;
  }

  &__form{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
      padding: 2rem;
      font-size: 1.5rem;
      background-color: $primary-color;
      border-radius: 5px;
      width: 60vw;
  }

  &__input-box {
    width: 100%;
    input {
        width: 100%;
        height: 35px;
        padding: 0 1rem;
        margin-top: 10px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1rem;
    }

    select{
        width: 100%;
        height: 40px;
        padding: 0 1rem;
        margin-top: 10px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1rem;
    }
}

&__btn {
    height: 50px;
    width: 100%;
    input {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        border-radius: 5px;
        color: set-text-color($primary-color);
        background-color: $secondary-color;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        font-size: 1.5rem;
        cursor: pointer;
    }
}

.details {
    font-weight: 500;
    font-size: 20px;
}
  
  .social-icons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
  }

}