* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  padding-bottom: 2rem;
}

.home__bio-image {
  height: 30vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("../img/fundo.jpg") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/fundo.jpg") center top;
  background: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.home__bio-image .text-secondary {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.home__cardapio {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.home__cards {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.home__card {
  position: relative;
  border-bottom: 5px solid #cc4848;
  overflow: hidden;
  cursor: pointer;
}

.home__card img {
  width: 100%;
}

.home__card::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #cc4848;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home__card:hover::after {
  top: 0;
  opacity: 0.5;
}

.home__card:hover .home__btn {
  opacity: 1;
}

.home__btns {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home__btn {
  opacity: 0;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home__btn:hover {
  color: white;
}

.home .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home footer {
  -webkit-transform: rotate(90deg) translate(-3rem, -5rem);
          transform: rotate(90deg) translate(-3rem, -5rem);
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background-color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background-color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu-btn__burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burger.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #272727;
  list-style-type: none;
  padding-right: 1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav .menu-nav__item {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menu-nav__item.active > a {
  color: #cc4848;
}

.nav .menu-nav__link {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__link:hover {
  color: #cc4848;
}

.menu-nav__item:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

.contact {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("../img/fundo.jpg") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/fundo.jpg") center top;
  background-size: cover;
}

.contact h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.contact__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
  padding: 3rem;
  font-size: 1.5rem;
}

.contact__list i {
  margin: 5px;
}

.contact .social-icons {
  position: initial;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: left;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-left: 1.5rem;
  }
  .nav .menu-nav__link {
    font-size: 1.5rem;
  }
  .about__bio {
    font-size: 1.5rem;
  }
  .home__bio-image {
    height: 40vh;
  }
  .home__cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .home .text-secondary {
    font-size: 3rem;
  }
  .contact__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .home__cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .contact__list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .home__bio-image {
    height: 50vh;
  }
}

.cadPizza {
  height: 100%;
  padding-top: 20vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("../img/fundo.jpg") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/fundo.jpg") center top;
  background-size: cover;
}

.cadPizza h1 {
  font-size: 50px;
  margin-bottom: 2rem;
}

.cadPizza__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1rem;
  padding: 3rem;
  font-size: 1.5rem;
  background-color: #272727;
  border-radius: 5px;
  width: 50vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cadPizza__input-box {
  width: 100%;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cadPizza__input-box input {
  width: 100%;
  height: 40px;
  padding: 0 1rem;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.cadPizza__input-box textarea {
  width: 100%;
  height: 40px;
  padding: 0 1rem;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.cadPizza__checkbox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.cadPizza__btn {
  height: 50px;
  width: 100%;
}

.cadPizza__btn input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #cc4848;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
}

.cadPizza .details {
  font-weight: 500;
  font-size: 25px;
}

.cadPizza .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cadUsuario {
  height: 100%;
  padding-top: 4vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("../img/fundo.jpg") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/fundo.jpg") center top;
  background-size: cover;
}

.cadUsuario h1 {
  font-size: 50px;
  margin-bottom: 2rem;
}

.cadUsuario__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  padding: 2rem;
  font-size: 1.5rem;
  background-color: #272727;
  border-radius: 5px;
  width: 60vw;
}

.cadUsuario__input-box {
  width: 100%;
}

.cadUsuario__input-box input {
  width: 100%;
  height: 35px;
  padding: 0 1rem;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.cadUsuario__input-box select {
  width: 100%;
  height: 40px;
  padding: 0 1rem;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.cadUsuario__btn {
  height: 50px;
  width: 100%;
}

.cadUsuario__btn input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #cc4848;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
}

.cadUsuario .details {
  font-weight: 500;
  font-size: 20px;
}

.cadUsuario .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login {
  height: 100%;
  padding-top: 20vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("../img/fundo.jpg") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/fundo.jpg") center top;
  background-size: cover;
}

.login h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.login__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1rem;
  padding: 3rem;
  font-size: 1.5rem;
  background-color: #272727;
  border-radius: 5px;
}

.login__input-box {
  width: 100%;
}

.login__input-box input {
  width: 100%;
  height: 40px;
  padding: 0 1rem;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.login__add {
  font-size: 15px;
}

.login__add a {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.login__add a:hover {
  color: #cc4848;
}

.login__btn {
  height: 50px;
  width: 100%;
  margin-top: 1rem;
}

.login__btn input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #cc4848;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
}

.login .details {
  font-weight: 500;
  font-size: 20px;
}

.login .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conPizza {
  padding-bottom: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.conPizza__bio-image {
  height: 30vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("../img/fundo.jpg") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/fundo.jpg") center top;
  background: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.conPizza__bio-image .text-secondary {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.conPizza__details {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.conPizza__table {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.conPizza__table td {
  padding: 10px;
}

.conPizza__header {
  color: #cc4848;
}

.conPizza #containerPizza {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conPizza__content:hover {
  background-color: rgba(204, 72, 72, 0.5);
}

.conPizza__btn {
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.conPizza__btn:hover {
  color: #272727;
}

.conPizza .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.conPizza footer {
  -webkit-transform: rotate(90deg) translate(-3rem, -5rem);
          transform: rotate(90deg) translate(-3rem, -5rem);
}

.homeAdmin {
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeAdmin__bio-image {
  height: 30vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("../img/fundo.jpg") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/fundo.jpg") center top;
  background: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.homeAdmin__bio-image .text-secondary {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.homeAdmin__details {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.homeAdmin__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80vw;
}

.homeAdmin__table {
  width: 100%;
  margin: 20px;
  text-align: center;
}

.homeAdmin__table td {
  padding: 10px;
}

.homeAdmin__header {
  color: #cc4848;
}

.homeAdmin__content:hover {
  background-color: rgba(204, 72, 72, 0.5);
}

.homeAdmin__btn {
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.homeAdmin__btn:hover {
  color: #272727;
}

.homeAdmin__button {
  height: 50px;
  width: 100%;
  margin: 10px;
}

.homeAdmin__button input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #cc4848;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
}

.homeAdmin .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homeAdmin footer {
  -webkit-transform: rotate(90deg) translate(-3rem, -5rem);
          transform: rotate(90deg) translate(-3rem, -5rem);
}

.pedidos {
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pedidos__bio-image {
  height: 30vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("../img/fundo.jpg") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/fundo.jpg") center top;
  background: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pedidos__bio-image .text-secondary {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.pedidos__details {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.pedidos__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80vw;
}

.pedidos__table {
  width: 100%;
  margin: 20px;
  text-align: center;
}

.pedidos__table td {
  padding: 10px;
}

.pedidos__header {
  color: #cc4848;
}

.pedidos__content:hover {
  background-color: rgba(204, 72, 72, 0.5);
}

.pedidos__btn {
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.pedidos__btn:hover {
  color: #272727;
}

.pedidos__button {
  height: 50px;
  width: 100%;
  margin: 10px;
}

.pedidos__button input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #cc4848;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
}

.pedidos .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pedidos footer {
  -webkit-transform: rotate(90deg) translate(-3rem, -5rem);
          transform: rotate(90deg) translate(-3rem, -5rem);
}

.cadPedido {
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-top: 20vh;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("../img/fundo.jpg") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/fundo.jpg") center top;
  background-size: cover;
}

.cadPedido__details {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.cadPedido h1 {
  font-size: 40px;
  margin-bottom: 2rem;
}

.cadPedido__form {
  background-color: #272727;
  padding: 2rem;
  border-radius: 5px;
  width: 70vw;
}

.cadPedido__label {
  text-align: center;
}

.cadPedido__table {
  width: 100%;
  margin: 20px 0;
  text-align: center;
  border: solid 2px #cc4848;
}

.cadPedido__table td {
  padding: 10px 20px;
}

.cadPedido__header {
  color: #cc4848;
}

.cadPedido__content {
  padding: 10px;
}

.cadPedido__content:hover {
  background-color: rgba(204, 72, 72, 0.5);
}

.cadPedido__btn {
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.cadPedido__btn:hover {
  color: #272727;
}

.cadPedido__button {
  height: 50px;
  width: 100%;
  margin: 10px 0;
}

.cadPedido__button input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #cc4848;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
}

.cadPedido__total {
  border: 2px solid #cc4848;
  padding: 10px;
  text-align: center;
}

.cadPedido .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cadPedido footer {
  -webkit-transform: rotate(90deg) translate(-3rem, -5rem);
          transform: rotate(90deg) translate(-3rem, -5rem);
}

.cadEndereco {
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-top: 20vh;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("../img/fundo.jpg") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/fundo.jpg") center top;
  background-size: cover;
}

.cadEndereco__details {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.cadEndereco h1 {
  font-size: 40px;
  margin-bottom: 2rem;
}

.cadEndereco__form {
  background-color: #272727;
  padding: 2rem;
  border-radius: 5px;
  width: 50vw;
}

.cadEndereco__radio-group {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cadEndereco__radio-item {
  margin: 10px 0;
  border: solid 2px white;
  padding: 15px;
}

.cadEndereco__label {
  text-align: center;
}

.cadEndereco__btn {
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.cadEndereco__btn:hover {
  color: #272727;
}

.cadEndereco__button {
  height: 50px;
  width: 100%;
  margin: 10px 0;
}

.cadEndereco__button input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #cc4848;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
}

.cadEndereco__add {
  margin: 30px 0;
}

.cadEndereco__add a {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.cadEndereco__add a:hover {
  color: #cc4848;
}

.cadEndereco .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cadEndereco footer {
  -webkit-transform: rotate(90deg) translate(-3rem, -5rem);
          transform: rotate(90deg) translate(-3rem, -5rem);
}

.cadPagamento {
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-top: 20vh;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("../img/fundo.jpg") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/fundo.jpg") center top;
  background-size: cover;
}

.cadPagamento__details {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.cadPagamento h1 {
  font-size: 40px;
  margin-bottom: 2rem;
}

.cadPagamento__form {
  background-color: #272727;
  padding: 2rem;
  border-radius: 5px;
  width: 50vw;
}

.cadPagamento__radio-group {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.cadPagamento__radio-item {
  margin: 10px;
  border: solid 2px white;
  padding: 15px;
}

.cadPagamento__input-box {
  width: 100%;
  margin-bottom: 20px;
}

.cadPagamento__input-box input {
  width: 100%;
  height: 40px;
  padding: 0 1rem;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.cadPagamento__input-box select {
  width: 100%;
  height: 40px;
  padding: 0 1rem;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.cadPagamento__boleto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.cadPagamento__label {
  text-align: center;
}

.cadPagamento__button {
  height: 50px;
  width: 100%;
  margin: 10px 0;
}

.cadPagamento__button input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #cc4848;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
}

.cadPagamento .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cadPagamento footer {
  -webkit-transform: rotate(90deg) translate(-3rem, -5rem);
          transform: rotate(90deg) translate(-3rem, -5rem);
}

body {
  background: #272727;
  color: white;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  color: white;
  text-decoration: none;
}

.text-secondary {
  color: #cc4848;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}

main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

main .social-icons a {
  padding: 0.4rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

main .social-icons a:hover {
  color: #cc4848;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: white;
}
/*# sourceMappingURL=main.css.map */