.header{
    color: white;
    background-color: rgb(220,53, 69);
    text-align: center;
    color: white;
    font-size: 70px;
}

.logo{
    font-family: 'PaloAlto';
}

.carousel-item{
    height: 30rem;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
}

.container-car{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 50px;
    padding-bottom: 50px;
}

.carrosel{
    margin-bottom: 20px;;
}

.footer{
    background-color: rgb(231, 230, 229);;
    height: 10vh;
    color: black;
    text-align: center;
    padding-top: 20px;
}

.cardapio{
    margin-top: 20px;
    margin-bottom: 20px;
}

.card{
    background-color: #777;
    height: 20vh;
    color: white;
    background-position: center;
    background-size: cover;
}