.header{
    color: white;
    background-color: rgb(220,53, 69);
    width: 100%;
    height: 10vh;
    text-align: center;
    color: white;
    font-size: 70px;
    font-family: 'PaloAlto';
    display: flex;
}

.open>.dropdown-menu.dropdown-info {
    opacity: 1;
    
  }
  
  .dropdown-menu.dropdown-info {
    display: block;
    position: relative;
    top: 95px;
    left: 275px;
    opacity: 0;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
  }




.logo{
    flex-grow: 1;
}
.logo img{
    width: 80px;
    margin: 5px;
    text-align: center;
}
.title{
flex-grow: 4;
text-align: center;
}
.dropdown{
    flex-grow: 2;
}
.login{
    width: 80px;
    margin: 5px;
    text-align: center;
}
.btnLogin{
    background-color: transparent !important; 
    color:transparent !important;
    border: transparent !important;
}

#login{
    margin-left: 100vh;
    margin-top: 20px;
    width: 60px;
}

.content{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80vh;
    position: relative;
    font-family: 'PaloAlto';
    font-size: 60px;
    text-align: center;
    color: white;
}

.content img{
    width: 100%;
    height: 65%;
}

.ad{
    background-color: red;
    width: 100%;
    height: 80vh;
}

.footer{
    background-color: rgb(231, 230, 229);;
    width: 100%;
    height: 10vh;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 20px;
}

.form{
    position: absolute;
    width: 25%;
    height: 10vh;
    background-color: rgb(218, 65, 65);
    border-radius: 10px;
    top: 75%;
    left: 10%;
    padding-top: 20px;
}

.form2{
    position: absolute;
    width: 25%;
    height: 10vh;
    background-color: rgb(218, 65, 65);
    border-radius: 10px;
    top: 75%;
    left: 65%;
    padding-top: 20px;
}



.bloco{
    clear: left;
}