<%- include('onlyHead'); %>

<body>
  <header>
      <div class="menu-btn">
          <span class="menu-btn__burger"></span>
      </div>

      <nav class="nav">
          <ul class="menu-nav">
              <li class="menu-nav__item active">
                  <a href="/" class="menu-nav__link">
                      Home
                  </a>
              </li>
              <li class="menu-nav__item ">
                  <a href="/admin/pedidos" class="menu-nav__link">
                      Pedidos
                  </a>
              </li>
              <li class="menu-nav__item ">
                  <a href="/admin" class="menu-nav__link">
                      Pizzas
                  </a>
              </li>
              <li class="menu-nav__item ">
                  <a href="/admin/clientes" class="menu-nav__link">
                      Clientes
                  </a>
              </li>
          </ul>
      </nav>
  </header>