<body>
  <main>
    <section class="home">
      <div class="home__bio-image">
        <h1 class="text-secondary">Bem vindo ao Pizza in BOX</h1>
      </div>
      <h1 class="home__cardapio">Conheça nosso cardápio</h1>
      <div class="home__cards">
        
        <div class="home__card">
          <img src="./img/card1.jpg" alt="My pizza">
          <div class="home__btns">
            <a href="#!" class="home__btn">
              <i class="fas fa-eye"></i>Pizza Vegetariana
            </a>
          </div>
        </div>
        <div class="home__card">
          <img src="./img/card2.jpg" alt="My pizza">
          <div class="home__btns">
            <a href="#!" class="home__btn">
              <i class="fas fa-eye"></i>Pizza de Calabresa
            </a>
          </div>
        </div>
        <div class="home__card">
          <img src="./img/card3.jpg" alt="My pizza">
          <div class="home__btns">
            <a href="#!" class="home__btn">
              <i class="fas fa-eye"></i>Pizza Vegana
            </a>

          </div>
        </div>
        <div class="home__card">
          <img src="./img/card4.jpg" alt="My pizza">
          <div class="home__btns">
            <a href="#!" class="home__btn">
              <i class="fas fa-eye"></i>Pizza Dois Queijos
            </a>
          </div>
        </div>
        <div class="home__card">
          <img src="./img/card5.jpg" alt="My pizza">
          <div class="home__btns">
            <a href="#!" class="home__btn">
              <i class="fas fa-eye"></i>Pizza Portuguesa
            </a>
          </div>
        </div>
        <div class="home__card">
          <img src="./img/card6.jpg" alt="My pizza">
          <div class="home__btns">
            <a href="#!" class="home__btn">
              <i class="fas fa-eye"></i>Pizza da Casa
            </a>
          </div>
        </div>

      </div>
      <div class="social-icons">
        <a href="#!">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="#!">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="#!">
          <i class="fab fa-instagram fa-2x"></i>
        </a>

      </div>

    </section>
  </main>

  <script src="https://kit.fontawesome.com/6d2ea823d0.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>