<!DOCTYPE html>
<html lang="pt-br">

<%- include('../partials/header'); %>

<body>
    
    <main>
        <section class="cadPedido">

            <h1 class="text-secondary">Cadastro de Pedidos</h1>



            <div class="cadPedido__form" id="formPedido">
                <div class="cadPedido__label">
                    <span class="cadPedido__details" id="labelPedido">Selecione as pizzas desejadas</span>
                </div>
               
                
                
            </div>

            <div class="social-icons">
                <a href="#!">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                <a href="#!">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
                <a href="#!">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>

            </div>
            <%- include('../partials/footer'); %>
        </section>
    </main>


    <script src="https://kit.fontawesome.com/6d2ea823d0.js"></script>
    <script src="js/main.js"></script>
    <script type="module">
			import * as pedido from "/js/cadPedido.js"
			window.cart = pedido.cart
			window.addEndereco = pedido.addEndereco
			window.addPag = pedido.addPag
			window.finalizarPedido = pedido.finalizarPedido
		</script>
</body>

</html>