<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../partials/headerAdmin'); %>
<body>
    <main>
        <section class="conPizza">
            <div class="conPizza__bio-image">
                <h1 class="text-secondary">Bem-vindo(a) Admin</h1>
            </div>
            <div id="containerPizza">   
            </div>
            
            <div class="social-icons">
                <a href="#!">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                <a href="#!">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
                <a href="#!">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>

            </div>
            <%- include('../partials/footer'); %>
        </section>
    </main>


    <script src="https://kit.fontawesome.com/6d2ea823d0.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/clientesAdm.js"></script>
</body>

</html>