<!DOCTYPE html>
<html lang="pt-br">
	<%- include('../partials/header'); %>
	
<body>
  <main>
    <section class="contact">
      <h2>Entre em contato:</h2>

      <div class="contact__list">
        <div class="contact__email">
          <i class="fas fa-envelope"></i>Email
          <div class="text-secondary">pizzainbox@email.com</div>
        </div>
        <div class="contact__phone">
          <i class="fas fa-mobile-alt"></i>Telefone
          <div class="text-secondary">(11) 99999-9999</div>
        </div>

        <div class="contact__address">
          <i class="fas fa-street-view"></i>Endereço
          <div class="text-secondary">200, R: 9 de julho </div>
        </div>
      </div>

      <div class="social-icons">
        <a href="#!">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="#!">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="#!">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
      </div>
      <%- include('../partials/footer'); %>
    </section>
  </main>


  <script src="https://kit.fontawesome.com/6d2ea823d0.js"></script>
  <script src="js/main.js"></script>
</body>

</html>