<!DOCTYPE html>
<html lang="pt-br">

  <%- include('../partials/header'); %>

<body>
  <main>
    <section class="login">
      <h2>Login</h2>

      <div class="login__form">
        <div class="login__input-box">
          <span class="details">Usuario</span>
          <input type="text" name="" id="userLogin" placeholder="user">
        </div>
        <div class="login__input-box">
          <span class="details">Senha</span>
          <input type="password" name="" id="passLogin" placeholder="********">
        </div>
        <div class="login__add">
          <a href="/login/cadastrar?estado=SP#" >
            Não tenho login
          </a>
        </div>
        <div class="login__btn">
          <input type="submit" value="Entrar" onclick="login()"> 
        </div>
      </div>
     
      <div class="social-icons">
        <a href="#!">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="#!">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="#!">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
      </div>
      <%- include('../partials/footer'); %>
    </section>
  </main>
  <script src="https://kit.fontawesome.com/6d2ea823d0.js"></script>
  <script src="/axios/dist/axios.min.js"></script>
  <script type="module">
  import login from "/js/login.js"
    window.login = login
  </script>
</body>

</html>