.cadPedido{
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 20vh;
    overflow: hidden;
    background: 
    linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url('../img/fundo.jpg') center top;
  background-size: cover;
    &__details{
        text-align: center;
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    h1{
        font-size:40px;
        margin-bottom: 2rem;
    }

    &__form{
        background-color: $primary-color;
        padding: 2rem;
        border-radius: 5px;
        width: 70vw;
    }

    &__label{
        text-align: center;
    }
    &__table{
       width: 100%;
       margin: 20px 0;
       text-align: center;
       border: solid 2px $secondary-color;
       td{
           padding: 10px 20px;
       }
    }
    &__header{
       color: $secondary-color;
    }

    &__content{
        &:hover{
            background-color: rgba($secondary-color, 0.5);
        }
        padding: 10px;
    }

    &__btn{
        color: set-text-color($primary-color);
        @include transition-ease;

        &:hover{
            color: $primary-color;
        }
    }

    &__button {
        height: 50px;
        width: 100%;

        margin: 10px 0;
        input {
            height: 100%;
            width: 100%;
            outline: none;
            border: none;
            border-radius: 5px;
            color: set-text-color($primary-color);
            background-color: $secondary-color;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 500;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }


    &__total{
        border: 2px solid $secondary-color;
        padding: 10px;
        text-align: center;
    }
    .social-icons{
        display: flex;
        flex-direction: column;
    }

    footer{
        transform: rotate(90deg) translate(-3rem, -5rem);
    }
}