<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sass/main.css">
    <title>PizzaInBox - Cadastro de Pizza</title>
</head>

<body>
    <header>
        <div class="menu-btn">
            <span class="menu-btn__burger"></span>
        </div>

        <nav class="nav">
            <ul class="menu-nav">
                <li class="menu-nav__item active">
                    <a href="index.html" class="menu-nav__link">
                        Home
                    </a>
                </li>
                <li class="menu-nav__item ">
                    <a href="pedidosAdm.html" class="menu-nav__link">
                        Pedidos
                    </a>
                </li>
                <li class="menu-nav__item ">
                    <a href="homeAdmin.html" class="menu-nav__link">
                        Pizzas
                    </a>
                </li>
                <li class="menu-nav__item ">
                    <a href="clientesAdm.html" class="menu-nav__link">
                        Clientes
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="cadPizza">
            <div class="cadPizza__bio-image">
                <h1 class="text-secondary">Cadastro de Pizza</h1>
            </div>

            <form action="#">
                <div class="cadPizza__form">
                    <div class="cadPizza__input-box">
                        <span class="details">Nome da Pizza</span>
                        <input type="text" name="" id="nomePizza" placeholder="Nome da pizza">
                    </div>
                    <div class="cadPizza__input-box">
                        <span class="details">Preço</span>
                        <input type="text" name="" id="precoPizza" placeholder="50.00">
                    </div>
                    <div class="cadPizza__input-box">
                        <span class="details">Ingredientes</span>
                        <input type="text" name="" id="ingPizza" placeholder="Mussarela, Calabresa...">
                    </div>
                    
                    <div class="cadPizza__btn">
                        <input type="submit" value="Cadastrar" onclick="addPizza()">
                    </div>
                </div>
            </form>
            <div class="social-icons">
                <a href="#!">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                <a href="#!">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
                <a href="#!">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>

            </div>
            <footer>&copy; Copyright 2021</footer>
        </section>
    </main>


    <script src="https://kit.fontawesome.com/6d2ea823d0.js"></script>
    <script src="js/main.js"></script>
    <script src="js/cadPizza.js"></script>
</body>

</html>