<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sass/main.css">
    <title>PizzaInBox - Registre-se</title>
</head>

<body>
    <header>
        <div class="menu-btn">
            <span class="menu-btn__burger"></span>
        </div>

        <nav class="nav">
            <ul class="menu-nav">
                <li class="menu-nav__item active">
                    <a href="index.html" class="menu-nav__link">
                        Home
                    </a>
                </li>
                <li class="menu-nav__item">
                    <a href="contact.html" class="menu-nav__link">
                        Fale conosco
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="cadUsuario">
            <div class="cadUsuario__bio-image">
                <h1 class="text-secondary">Registre-se</h1>
            </div>

            <form action="#">
                <div class="cadUsuario__form">
                    <!-- <span class="cadUsuario__title">Dados básicos</span>-->
                    <div class="cadUsuario__input-box">
                        <span class="details">CPF</span>
                        <input type="text" name="" id="cpfCli" placeholder="Digite sem CPF">
                    </div>
                    <div class="cadUsuario__input-box">
                        <span class="details">Nome</span>
                        <input type="text" name="" id="nomeCli" placeholder="Digite seu nome">
                    </div>
                    <div class="cadUsuario__input-box">
                        <span class="details">Email</span>
                        <input type="email" name="" id="emailCli" placeholder="email@email.com">
                    </div>
                    <div class="cadUsuario__input-box">
                        <span class="details">Telefone</span>
                        <input type="text" name="" id="telCli" placeholder="11912341234">
                    </div>
                    <!-- <span class="cadUsuario__title">Endereço</span>-->
                    <div class="cadUsuario__input-box">
                        <span class="details">CEP</span>
                        <input type="text" name="" id="cepCli" placeholder="Digite seu CEP">
                    </div>
                    <div class="cadUsuario__input-box">
                        <span class="details">Logradouro</span>
                        <input type="text" name="" id="logradouroCli" placeholder="Digite seu logradouro">
                    </div>
                    <div class="cadUsuario__input-box">
                        <span class="details">Numero</span>
                        <input type="text" name="" id="numeroCli" placeholder="Digite seu numero">
                    </div>
                    <div class="cadUsuario__input-box">
                        <span class="details">Bairro</span>
                        <input type="text" name="" id="bairroCli" placeholder="Digite seu bairro">
                    </div>
                    <div class="cadUsuario__input-box">
                        <span class="details">Complenento</span>
                        <input type="text" name="" id="complementoCli" placeholder="Digite seu complenento">
                    </div>
                    <div class="cadUsuario__input-box">
                        <span class="details">Estado</span>
                        <select id="estadoCli" name="estado">
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                          </select>
                    </div>
                    <div class="cadUsuario__input-box">
                        <span class="details">Cidade</span>
                        <input type="text" name="" id="cidadeCli" placeholder="Digite sua cidade">
                    </div>
                    <div class="cadUsuario__input-box">
                        <span class="details">Usuario</span>
                        <input type="text" name="" id="usuarioCli" placeholder="Digite seu usuário">
                    </div>
                    <div class="cadUsuario__input-box">
                        <span class="details">Senha</span>
                        <input type="password" name="" id="senhaCli" placeholder="***">
                    </div>
                    <div class="cadUsuario__input-box">
                        <span class="details">Confirmar senha</span>
                        <input type="password" name="" id="confSenhaCli" placeholder="***">
                    </div>
                </div>
                <div class="cadUsuario__btn">
                    <input type="submit" value="Cadastrar" onclick="addCliente()">
                </div>
            </form>
            <div class="social-icons">
                <a href="#!">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                <a href="#!">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
                <a href="#!">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>

            </div>
            <footer>&copy; Copyright 2021</footer>
        </section>
    </main>


    <script src="https://kit.fontawesome.com/6d2ea823d0.js"></script>
    <script src="js/main.js"></script>
    <script src="js/cadCliente.js"></script>
</body>

</html>