<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sass/main.css">
    <title>PizzaInBox - Home</title>
</head>
<body>
  <header>
    <div class="menu-btn">
      <span class="menu-btn__burger"></span>
    </div>

    <nav class="nav">
      <ul class="menu-nav">
        <li class="menu-nav__item active">
          <a href="index.html" class="menu-nav__link">
            Home
          </a>
        </li>
        <li class="menu-nav__item ">
          <a href="pedidos.html" class="menu-nav__link">
            Pedidos
          </a>
        </li>
        <li class="menu-nav__item" >
          <a href="contact.html" class="menu-nav__link">
            Fale conosco
          </a>
        </li>
        <li class="menu-nav__item" >
            <a href="login.html" class="menu-nav__link">
                <i class="fas fa-user"></i>
            </a>
         </li>
      </ul>
    </nav>
  </header>
    <main>
        <section class="home">
            <div class="home__bio-image">
               <h1 class="text-secondary">Bem vindo ao Pizza in BOX</h1>
            </div>
            <h1 class="home__cardapio">Conheça nosso cardápio</h1>
            <div class="home__cards">
                <div class="home__card">
                    <img src="./img/card1.jpg" alt="My pizza">
                    <div class="home__btns">
                        <a href="#!" class="home__btn">
                            <i class="fas fa-eye"></i>Pizza 1
                        </a>
                    </div>
                </div>
                <div class="home__card">
                    <img src="./img/card2.jpg" alt="My pizza">
                    <div class="home__btns">
                        <a href="#!" class="home__btn">
                            <i class="fas fa-eye"></i>Pizza 2
                        </a>
                    </div>
                </div>
                <div class="home__card">
                    <img src="./img/card3.jpg" alt="My pizza">
                    <div class="home__btns">
                        <a href="#!" class="home__btn">
                            <i class="fas fa-eye"></i>Pizza 3
                        </a>

                    </div>
                </div>
                <div class="home__card">
                    <img src="./img/card4.jpg" alt="My pizza">
                    <div class="home__btns">
                        <a href="#!" class="home__btn">
                            <i class="fas fa-eye"></i>Pizza 4
                        </a>
                    </div>
                </div>
                <div class="home__card">
                    <img src="./img/card5.jpg" alt="My pizza">
                    <div class="home__btns">
                        <a href="#!" class="home__btn">
                            <i class="fas fa-eye"></i>Pizza 5
                        </a>
                    </div>
                </div>
                <div class="home__card">
                    <img src="./img/card6.jpg" alt="My pizza">
                    <div class="home__btns">
                        <a href="#!" class="home__btn">
                            <i class="fas fa-eye"></i>Pizza 6
                        </a>
                    </div>
                </div>

            </div>
            <div class="social-icons">
                <a href="#!">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                <a href="#!">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
                <a href="#!">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>

            </div>
            <footer>&copy; Copyright 2021</footer>
        </section>
    </main>
    

    <script src="https://kit.fontawesome.com/6d2ea823d0.js"></script>
    <script src="js/main.js"></script>
</body>
</html>