<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../view/css/style.css"  type="text/css">
    <title>Pizza in Box</title>
</head>
<body>
    <div class="header">
        <img class="logo row" src="img/logo.png">
        <div class="title row">PIZZA IN BOX</div>
        <img src="img/user (1).png" id="login"> 
    </div>

    <div class="content row">
        <img src="img/thumb.jpg" alt="">
        
        <div class="form"> ENTREGA</div>
        
        <div class="form2"> RETIRADA</div>
    </div>

    <div class="footer bloco">
        Rua: Jose da Silva, Numero:52 
    </div>
    


</body>
</html>